{% extends "base.html" %}
{% block title %}Index Page{% endblock %}
{% block content %}
    <h1>Hello World</h1>
    <p>{{ my_value }}</p>
    <p>{{ my_result }}</p>
    <p>{{ my_list }}</p>
    <ul>
        {% for item in my_list %}
            {% if item == 30 %}
                <li style="color: red;">{{ item }}</li>
            {% else %}
                <li style="color: blue;">{{ item }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <ul>
        {% for item in my_list %}
            <li {% if item == 30 %}style="color: red;"{% endif %}>{{ item }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for("other") }}">Other</a>
{% endblock %}